// fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Spectral:wght@200;300;400&display=swap');

$montserrat: 'Montserrat', sans-serif;
$spectral: 'Spectral', serif;

$fontsize-h1: 4.209rem;
$fontsize-h2: 3.157rem;
$fontsize-h3: 2.369rem;
$fontsize-h4: 1.777rem;
$fontsize-h5: 1.333rem;
$fontsize-h6: 1rem;
$fontsize-small: 0.75rem;
